{
  "swagger": "2.0",
  "info": {
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.9.25.4-1-g49ba198",
    "title": "RChain node API",
    "contact": {
      "name": "RChain Cooperative",
      "url": "https://rchain.coop",
      "email": "info@rchain.coop"
    },
    "description": "Build dApps for RChain, a decentralized, economically sustainable public compute infrastructure.\n\n For background, see [test_web_api.py etc. in PR 2811 / RCHAIN-3935 released in RNode-0.9.19 2020-01-16 d581015](https://github.com/rchain/rchain/blob/dev/integration-tests/test/test_web_api.py)"
  },
  "tags": [
    {
      "name": "blocks",
      "description": "Find and explore blocks for establishing consensus on the state of the RhoVM."
    },
    {
      "name": "rhovm",
      "description": "Deploy Rholang code and explore the RhoVM tuple space."
    }
  ],
  "externalDocs": {
    "description": "RChain Developer",
    "url": "https://developer.rchain.coop/"
  },
  "host": "observer.testnet.rchain.coop",
  "basePath": "/api",
  "paths": {
    "/blocks": {
      "get": {
        "description": "get block hash etc. for the most recent block seen by this node",
        "externalDocs": {
          "description": "WebApi.scala",
          "url": "https://github.com/rchain/rchain/blob/dev/node/src/main/scala/coop/rchain/node/api/WebApi.scala"
        },
        "tags": ["blocks"],
        "operationId": "getBlocks",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": [
                {
                  "blockHash": "a50b9de03600a02f823a9e16e6d24d14fb0d77c72bdec080556d8e30f43d335f",
                  "sender": "04953bfb7421d530712c507f7f060b9efe636816659add5544949170719c3b3b3c2256076c953b549f3c098421de603d27ecef2b9d208e705dbb90b5972eae174a",
                  "seqNum": 94997,
                  "sig": "304502210085d6e576d1e050f15148290a956fb05f787df0071c8f170e00d8e9d903c8ff7a02205e29da8ba9551ca65e017a93efe9840bdf401384b39f1c23f7bb387c1777ed30",
                  "sigAlgorithm": "secp256k1",
                  "shardId": "rchain",
                  "extraBytes": "",
                  "version": 1,
                  "timestamp": 1600728957494,
                  "headerExtraBytes": "",
                  "parentsHashList": [
                    "a6daf94398ad7ca9cc210a8b0fec49e1715a7fae92fd88671b5bdc9748d73a73"
                  ],
                  "blockNumber": 419921,
                  "preStateHash": "313d85002c64a1ea0c09b9c1ef6ef8d1d1801e1c90a7bc0c782e7ea2a1328896",
                  "postStateHash": "c750d9e5e3bc288f707b11c77c674da4d0773a3bc4ec7934af2c4872b6a4cae1",
                  "bodyExtraBytes": "",
                  "bonds": [
                    {
                      "validator": "0466fe01872364f0f26be110ba5201383ec450c458edeb862b1b2520b6ef042e91c60094a0c4a98b2d80bbd64d252e58f3b749a4e8d75976b51e441ada4ce667f6",
                      "stake": 10000032
                    },
                    {
                      "validator": "0468253959709c06610a32b7607cf489fd0f56602f8c6fbef1c00384ae8e8be9cc43987277a05e13c2f1764a92e9d44e3577ccc9d5c447cef9caf1b77129481133",
                      "stake": 10000004
                    },
                    {
                      "validator": "04953bfb7421d530712c507f7f060b9efe636816659add5544949170719c3b3b3c2256076c953b549f3c098421de603d27ecef2b9d208e705dbb90b5972eae174a",
                      "stake": 10000002
                    },
                    {
                      "validator": "04bcca4904285db7585e5eea2e70300f23df6332a1fff6ceb718adb2962fca7da1618a59ebf4b423e014584b76b9cc8f02423d39989076963b9845ff5fef7db692",
                      "stake": 10000008
                    }
                  ],
                  "blockSize": "138049",
                  "deployCount": 1,
                  "faultTolerance": -1,
                  "justifications": [
                    {
                      "validator": "04bcca4904285db7585e5eea2e70300f23df6332a1fff6ceb718adb2962fca7da1618a59ebf4b423e014584b76b9cc8f02423d39989076963b9845ff5fef7db692",
                      "latestBlockHash": "383393291ad3e33caeaae118bde7caaf87067fd2ad5e620d85a95c9f5a424d11"
                    },
                    {
                      "validator": "04953bfb7421d530712c507f7f060b9efe636816659add5544949170719c3b3b3c2256076c953b549f3c098421de603d27ecef2b9d208e705dbb90b5972eae174a",
                      "latestBlockHash": "b164b41c78bf288223b17ed4612fc4664b5edc01ec9ac8050b4527c6db7904a7"
                    },
                    {
                      "validator": "0466fe01872364f0f26be110ba5201383ec450c458edeb862b1b2520b6ef042e91c60094a0c4a98b2d80bbd64d252e58f3b749a4e8d75976b51e441ada4ce667f6",
                      "latestBlockHash": "a6daf94398ad7ca9cc210a8b0fec49e1715a7fae92fd88671b5bdc9748d73a73"
                    },
                    {
                      "validator": "0468253959709c06610a32b7607cf489fd0f56602f8c6fbef1c00384ae8e8be9cc43987277a05e13c2f1764a92e9d44e3577ccc9d5c447cef9caf1b77129481133",
                      "latestBlockHash": "04a167a7f1f79459e1b42dc067ea2dc5f5701ef4462d6df43f1fc27592d2b279"
                    }
                  ]
                }
              ]
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LightBlockInfo"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/blocks/{depth}": {
      "get": {
        "description": "get info on recent blocks up to some depth",
        "externalDocs": {
          "description": "WebApi.scala",
          "url": "https://github.com/rchain/rchain/blob/dev/node/src/main/scala/coop/rchain/node/api/WebApi.scala"
        },
        "tags": ["blocks"],
        "operationId": "getBlocks-int",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "depth",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LightBlockInfo"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/blocks/{startBlockNumber}/{endBlockNumber}": {
      "get": {
        "externalDocs": {
          "description": "WebApi.scala",
          "url": "https://github.com/rchain/rchain/blob/dev/node/src/main/scala/coop/rchain/node/api/WebApi.scala"
        },
        "tags": ["blocks"],
        "operationId": "getBlocks-int-int",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "startBlockNumber",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "endBlockNumber",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LightBlockInfo"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/prepare-deploy": {
      "get": {
        "tags": ["rhovm"],
        "operationId": "getPrepare-deploy",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrepareResponse"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": ["rhovm"],
        "operationId": "postPrepare-deploy-body",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "PrepareRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrepareResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/deploy/{deployId}": {
      "get": {
        "description": "see also WebApi.findDeploy in src/main/scala/coop/rchain/node/api/WebApi.scala",
        "tags": ["blocks"],
        "operationId": "getDeploy-string",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "deployId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LightBlockInfo"
            }
          }
        },
        "deprecated": false
      }
    },
    "/data-at-name": {
      "post": {
        "tags": ["rhovm"],
        "operationId": "postData-at-name-body",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "DataRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/block/{hash}": {
      "get": {
        "description": "see also WebApi.getBlock in src/main/scala/coop/rchain/node/api/WebApi.scala",
        "tags": ["blocks"],
        "operationId": "getBlock-string",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlockInfo"
            }
          }
        },
        "deprecated": false
      }
    },
    "/last-finalized-block": {
      "get": {
        "tags": ["blocks"],
        "operationId": "getLast-finalized-block",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlockInfo"
            }
          }
        },
        "deprecated": false
      }
    },
    "/explore-deploy-by-block-hash": {
      "post": {
        "tags": ["rhovm"],
        "operationId": "postExplore-deploy-by-block-hash-body",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "ExploreDeployRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExploreDeployRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExploratoryDeployResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/explore-deploy": {
      "post": {
        "tags": ["rhovm"],
        "operationId": "postExplore-deploy-body",
        "consumes": ["text/plain"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "term",
            "description": "Rholang term",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExploratoryDeployResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/is-finalized/{hash}": {
      "get": {
        "description": "see also WebApi.isFinalized in src/main/scala/coop/rchain/node/api/WebApi.scala",
        "tags": ["blocks"],
        "operationId": "getIs-finalized-string",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "deprecated": false
      }
    },
    "/deploy": {
      "post": {
        "tags": ["rhovm"],
        "operationId": "postDeploy-body",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "DeployRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeployRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "RhoExpr": {
      "type": "object",
      "required": ["type"],
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ExprList",
            "ExprPar",
            "ExprUri",
            "ExprBytes",
            "ExprString",
            "ExprBool",
            "ExprMap",
            "ExprUnforg",
            "ExprInt",
            "ExprTuple"
          ]
        }
      },
      "description": "RhoExpr"
    },
    "ExprList": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RhoExpr"
              }
            }
          },
          "description": "ExprList"
        }
      ],
      "description": "ExprList"
    },
    "ExprPar": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RhoExpr"
              }
            }
          },
          "description": "ExprPar"
        }
      ],
      "description": "ExprPar"
    },
    "BondInfo": {
      "type": "object",
      "properties": {
        "validator": {
          "type": "string"
        },
        "stake": {
          "type": "integer",
          "format": "int64"
        }
      },
      "description": "BondInfo"
    },
    "ExprUri": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "string"
            }
          },
          "description": "ExprUri"
        }
      ],
      "description": "ExprUri"
    },
    "ExprBytes": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "string"
            }
          },
          "description": "ExprBytes"
        }
      ],
      "description": "ExprBytes"
    },
    "PrepareRequest": {
      "type": "object",
      "required": ["deployer", "nameQty", "timestamp"],
      "properties": {
        "deployer": {
          "type": "string"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64"
        },
        "nameQty": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "PrepareRequest"
    },
    "RhoUnforg": {
      "type": "object",
      "required": ["type"],
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["UnforgDeploy", "UnforgDeployer", "UnforgPrivate"]
        }
      },
      "description": "RhoUnforg"
    },
    "UnforgPrivate": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoUnforg"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "string"
            }
          },
          "description": "UnforgPrivate"
        }
      ],
      "description": "UnforgPrivate"
    },
    "ExploratoryDeployResponse": {
      "type": "object",
      "required": ["block", "expr"],
      "properties": {
        "expr": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RhoExpr"
          }
        },
        "block": {
          "$ref": "#/definitions/LightBlockInfo"
        }
      },
      "description": "ExploratoryDeployResponse"
    },
    "DataResponse": {
      "type": "object",
      "required": ["exprs", "length"],
      "properties": {
        "exprs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RhoExprWithBlock"
          }
        },
        "length": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "DataResponse"
    },
    "PrepareResponse": {
      "type": "object",
      "required": ["names", "seqNumber"],
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "seqNumber": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "PrepareResponse"
    },
    "ExprString": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "string"
            }
          },
          "description": "ExprString"
        }
      ],
      "description": "ExprString"
    },
    "RhoExprWithBlock": {
      "type": "object",
      "required": ["block", "expr"],
      "properties": {
        "expr": {
          "$ref": "#/definitions/RhoExpr"
        },
        "block": {
          "$ref": "#/definitions/LightBlockInfo"
        }
      },
      "description": "RhoExprWithBlock"
    },
    "LightBlockInfo": {
      "type": "object",
      "properties": {
        "blockHash": {
          "type": "string"
        },
        "justifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JustificationInfo"
          }
        },
        "timestamp": {
          "type": "integer",
          "format": "int64"
        },
        "extraBytes": {
          "type": "string",
          "description": "com.google.protobuf.ByteString"
        },
        "bonds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BondInfo"
          }
        },
        "parentsHashList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "shardId": {
          "type": "string"
        },
        "sigAlgorithm": {
          "type": "string"
        },
        "sig": {
          "type": "string"
        },
        "blockSize": {
          "type": "string"
        },
        "postStateHash": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int64"
        },
        "seqNum": {
          "type": "integer",
          "format": "int64"
        },
        "blockNumber": {
          "type": "integer",
          "format": "int64"
        },
        "sender": {
          "type": "string"
        },
        "headerExtraBytes": {
          "type": "string",
          "description": "com.google.protobuf.ByteString"
        },
        "bodyExtraBytes": {
          "type": "string",
          "description": "com.google.protobuf.ByteString"
        },
        "faultTolerance": {
          "type": "number",
          "format": "float"
        },
        "preStateHash": {
          "type": "string"
        },
        "deployCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "LightBlockInfo"
    },
    "ExploreDeployRequest": {
      "type": "object",
      "required": ["blockHash", "term", "usePreStateHash"],
      "properties": {
        "term": {
          "type": "string"
        },
        "blockHash": {
          "type": "string"
        },
        "usePreStateHash": {
          "type": "boolean"
        }
      },
      "description": "ExploreDeployRequest"
    },
    "DeployData": {
      "type": "object",
      "required": [
        "phloLimit",
        "phloPrice",
        "term",
        "timestamp",
        "validAfterBlockNumber"
      ],
      "properties": {
        "timestamp": {
          "type": "integer",
          "format": "int64"
        },
        "term": {
          "type": "string"
        },
        "phloLimit": {
          "type": "integer",
          "format": "int64"
        },
        "phloPrice": {
          "type": "integer",
          "format": "int64"
        },
        "validAfterBlockNumber": {
          "type": "integer",
          "format": "int64"
        }
      },
      "description": "DeployData"
    },
    "DeployInfo": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "integer",
          "format": "int64"
        },
        "systemDeployError": {
          "type": "string"
        },
        "term": {
          "type": "string"
        },
        "phloLimit": {
          "type": "integer",
          "format": "int64"
        },
        "sigAlgorithm": {
          "type": "string"
        },
        "deployer": {
          "type": "string"
        },
        "sig": {
          "type": "string"
        },
        "errored": {
          "type": "boolean"
        },
        "cost": {
          "type": "integer",
          "format": "int64"
        },
        "phloPrice": {
          "type": "integer",
          "format": "int64"
        },
        "validAfterBlockNumber": {
          "type": "integer",
          "format": "int64"
        }
      },
      "description": "DeployInfo"
    },
    "JustificationInfo": {
      "type": "object",
      "properties": {
        "validator": {
          "type": "string"
        },
        "latestBlockHash": {
          "type": "string"
        }
      },
      "description": "JustificationInfo"
    },
    "DeployRequest": {
      "type": "object",
      "required": ["data", "deployer", "sigAlgorithm", "signature"],
      "properties": {
        "data": {
          "$ref": "#/definitions/DeployData"
        },
        "deployer": {
          "type": "string"
        },
        "signature": {
          "type": "string"
        },
        "sigAlgorithm": {
          "type": "string"
        }
      },
      "description": "DeployRequest"
    },
    "ExprBool": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "boolean"
            }
          },
          "description": "ExprBool"
        }
      ],
      "description": "ExprBool"
    },
    "UnforgDeploy": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoUnforg"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "string"
            }
          },
          "description": "UnforgDeploy"
        }
      ],
      "description": "UnforgDeploy"
    },
    "BlockInfo": {
      "type": "object",
      "properties": {
        "blockInfo": {
          "$ref": "#/definitions/LightBlockInfo"
        },
        "deploys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeployInfo"
          }
        }
      },
      "description": "BlockInfo"
    },
    "ExprMap": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/RhoExpr"
              }
            }
          },
          "description": "ExprMap"
        }
      ],
      "description": "ExprMap"
    },
    "UnforgDeployer": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoUnforg"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "string"
            }
          },
          "description": "UnforgDeployer"
        }
      ],
      "description": "UnforgDeployer"
    },
    "ExprUnforg": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "$ref": "#/definitions/RhoUnforg"
            }
          },
          "description": "ExprUnforg"
        }
      ],
      "description": "ExprUnforg"
    },
    "ExprInt": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "integer",
              "format": "int64"
            }
          },
          "description": "ExprInt"
        }
      ],
      "description": "ExprInt"
    },
    "DataRequest": {
      "type": "object",
      "required": ["depth", "name"],
      "properties": {
        "name": {
          "$ref": "#/definitions/RhoUnforg"
        },
        "depth": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "DataRequest"
    },
    "ExprTuple": {
      "allOf": [
        {
          "$ref": "#/definitions/RhoExpr"
        },
        {
          "type": "object",
          "required": ["data"],
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RhoExpr"
              }
            }
          },
          "description": "ExprTuple"
        }
      ],
      "description": "ExprTuple"
    }
  }
}
