sudo: required
dist: trusty
jdk:
  - openjdk10

matrix:
  include:
  - language: nix
    env: SUBPROJECT=rosette
  - language: scala
    before_install:
      - rm "${JAVA_HOME}/lib/security/cacerts"
      - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"
    env: SUBPROJECT=core
    scala: 2.12.4
    sbt_args: -no-colors
    install:
      - ./scripts/install_sbt.sh
      - ./scripts/install.sh
    addons:
      apt:
        packages:
          - jflex
          - haskell-platform
          - rpm
          - fakeroot

script:
  - ./scripts/build-subprojects.sh

# before_cache:
#  - find $HOME/.sbt -name "*.lock" -type f -delete
#  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

cache:
  false
  # timeout: 360 # default is 180 
  # directories:
  #   - "$HOME/.ivy2/cache"
  #   - "$HOME/.sbt"
  #   - "$HOME/.coursier"

after_success:
  - "./scripts/create-artifacts.sh"

deploy:
  provider: releases
  api_key: "$GITHUB_RELEASES_API_TOKEN_PUBLIC_REPO"
  file_glob: true
  file:
    - "node/target/*.deb"
    - "node/target/rpm/RPMS/noarch/*.rpm"
    - "node/target/universal/*.tgz"
  skip_cleanup: true
  branches:
    only:
    - master
    - /^release-.*$/ 
  on:
    tags: true

notifications:
  email:
    recipients: rchain-makers@pyrofex.net
    on_success: never
    on_failure: always
