sudo: required
dist: trusty

matrix:
  include:
  - language: nix
    env: SUBPROJECT=rosette
  - language: scala
    env: SUBPROJECT=core
    scala: 2.12.4
    sbt_args: -no-colors
    install:
      - ./scripts/install_sbt.sh
      - ./scripts/install_sodium.sh
      - ./scripts/install.sh
    addons:
      apt:
        packages:
          - jflex
          - haskell-platform
          - rpm
          - fakeroot

script:
  - ./scripts/build-subprojects.sh

before_cache:
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

cache:
  timeout: 360 # default is 180 
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt"
    - "$HOME/.coursier"

after_success:
  - "./scripts/create-artifacts.sh"

deploy:
  provider: releases
  api_key: "$GITHUB_RELEASES_API_TOKEN_PUBLIC_REPO"
  file_glob: true
  file:
    - "node/target/*.deb"
    - "node/target/rpm/RPMS/noarch/*.rpm"
    - "node/target/universal/*.tgz"
  skip_cleanup: true
  on:
    tags: true
    branch: master

notifications:
  email:
    recipients: rchain-makers@pyrofex.net
    on_success: never
    on_failure: always
