language: scala
scala:
  - 2.12.3
sbt_args: -no-colors
os:
  - linux
  - osx
dist: trusty
env:
  - SUBPROJECT=comm
  - SUBPROJECT=rholang
  - SUBPROJECT=roscala
  - SUBPROJECT=rosette
  - SUBPROJECT=storage
script: ./scripts/build-subproject.sh
sudo: required
install: ./scripts/install.sh
cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt"
