language: scala
scala:
  - 2.12.4
sbt_args: -no-colors
dist: trusty
env:
  - SUBPROJECT=rosette
  - SUBPROJECT=core
script:
  - ./scripts/build-subprojects.sh
sudo: required
install:
  - ./scripts/install_secp.sh
  - ./scripts/install_sodium.sh
  - ./scripts/install.sh
cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt"
notifications:
  email:
    recipients:
      - rchain-makers@pyrofex.net
    on_success: never
    on_failure: always
addons:
    apt:
        sources:
            - sourceline: 'deb https://dl.bintray.com/sbt/debian /'
        packages:
            - sbt
            - jflex
            - haskell-platform
            - rpm
            - fakeroot


