.cm-s-solarized.CodeMirror {
    background: #20262e;
    border-radius: 5px;
    color: #fff !important;
    line-height: 20px !important;
    font-weight: 400;
    height: auto;
    font-size: 14px !important;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    padding: 12px !important;
}

.cm-s-solarized div.CodeMirror-selected {
    background: rgba(101, 115, 126, 0.33);
}

.cm-s-solarized .CodeMirror-line::selection,
.cm-s-solarized .CodeMirror-line > span::selection,
.cm-s-solarized .CodeMirror-line > span > span::selection {
    background: rgba(101, 115, 126, 0.33);
}

.cm-s-solarized .CodeMirror-line::-moz-selection,
.cm-s-solarized .CodeMirror-line > span::-moz-selection,
.cm-s-solarized .CodeMirror-line > span > span::-moz-selection {
    background: rgba(101, 115, 126, 0.33);
}

.cm-s-solarized .CodeMirror-gutters {
    background: #304148;
    border-right: 10px;
}

.cm-s-solarized .CodeMirror-guttermarker {
    color: white;
}

.cm-s-solarized .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-solarized .CodeMirror-linenumber {
    color: #d0d0d0;
}

.cm-s-solarized .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-s-solarized span.cm-comment {
    color: #65737e;
}

.cm-s-solarized span.cm-atom {
    color: #c594c5;
}

.cm-s-solarized span.cm-number {
    color: #f99157;
}

.cm-s-solarized span.cm-property {
    color: #99c794;
}

.cm-s-solarized span.cm-attribute,
.cm-s-solarized span.cm-keyword {
    color: #c594c5;
}

.cm-s-solarized span.cm-builtin {
    color: #66d9ef;
}

.cm-s-solarized span.cm-string {
    color: #99c794;
}

.cm-s-solarized span.cm-variable {
    color: #66b3bc;
}

.cm-s-solarized span.cm-variable-3 {
    color: #f8f8f2;
}

.cm-s-solarized span.cm-variable-2 {
    color: #c7c580;
}

.cm-s-solarized span.cm-def {
    color: #69c;
}

.cm-s-solarized span.cm-bracket {
    color: #5fb3b3;
}

.cm-s-solarized span.cm-tag {
    color: #c594c5;
}

.cm-s-solarized span.cm-header {
    color: #c594c5;
}

.cm-s-solarized span.cm-link {
    color: #c594c5;
}

.cm-s-solarized span.cm-error {
    background: #c594c5;
    color: #f8f8f0;
}

.cm-s-solarized .CodeMirror-activeline-background {
    background: rgba(101, 115, 126, 0.33);
}

.cm-s-solarized .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.CodeMirror-gutters {
    width: 40px !important;
    border-right: 1px dotted #414651 !important;
}

.CodeMirror-gutter {
    width: 36px !important;
}

.CodeMirror-linenumber {
    color: #757a84 !important;
}

.CodeMirror-selected {
    background-color: #4d5560 !important;
}

.cm-s-solarized .cm-error,
.cm-s-solarized .cm-invalidchar {
    color: #586e75;
    border-bottom: 1px dotted #dc322f;
}

.CodeMirror-gutters {
    opacity: 0;
}
