[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pytest = "*"
pytest-json = "*"
pytest-pylint = "*"
typing-extensions = "*"
dataclasses = "*"
mypy = "*"
urllib3 = ">=1.24.2"
ecdsa = "*"
cryptography = ">=3.2"
eth-hash = "*"
pycryptodome = "*"
pyrchain = {editable = true, ref = "block-merge", git = "https://github.com/nzpr/pyrchain.git"}
requests = "*"
importlib-metadata = "*"

[dev-packages]
python-language-server = "*"
