[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pytest = "*"
pytest-json = "*"
pytest-pylint = "*"
typing-extensions = "*"
dataclasses = "*"
mypy = "==0.790"
urllib3 = ">=1.24.2"
ecdsa = "*"
cryptography = "==3.3.2"
eth-hash = "*"
pycryptodome = "*"
pyrchain = "==0.3.10"
requests = "*"
importlib-metadata = "*"

[dev-packages]
python-language-server = "*"
