[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pytest = "*"
pytest-json = "*"
pytest-pylint = "*"
typing-extensions = "*"
dataclasses = "*"
mypy = "*"
urllib3 = ">=1.24.2"
ecdsa = "*"
cryptography = "*"
eth-hash = "*"
pycryptodome = "*"
pyrchain = "*"
flake8 = "*"

[dev-packages]
python-language-server = "*"
